! Title: Frellwit's Swedish Filter
! Last updated: %timestamp%
! Expires: 5 days
! Diff-Path: %diffpath%#swefilter
! Diff-Expires: 6 hours
! Description: A filter for uBlock Origin that aims to remove regional Swedish ads, tracking, annoyances, scams + badware, and unnecessary bloat.
! Homepage: https://github.com/lassekongo83/Frellwits-filter-lists
! License: https://github.com/lassekongo83/Frellwits-filter-lists/blob/master/LICENSE
%include swefilter:Frellwits-Swedish-Filter.txt%
